@font-face {
  font-family: 'Cool9Bit';
  src: url('/fonts/cool9bit.ttf') format('truetype');
}

@font-face {
  font-family: 'JF-Dot-MPlus12';
  src: url('/fonts/JF-Dot-MPlus12.ttf') format('truetype');
}

@font-face {
  font-family: 'Makinas-4-Flat';
  src: url('/fonts/Makinas-4-Flat.otf') format('opentype');
}